services:
  db:
    image: postgres:13.2-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
  cache:
    image: redis/redis-stack:latest
    restart: always
    ports:
      - 6379:6379
    depends_on:
      - db
    volumes:
      - redis_data:/data
volumes:
  db_data:
  redis_data: